# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Exclude data output.
*.restart_k
*.restart_k2
*.restart_k3
*.restart_k4
*.restart_k5
*.restart_k6
*.restart_scf
*.restart_scf2
*.restart_scf3
*.restart_scf4
*.restart_scf5
*.restart_scf6
*paw.txt
q-e/test-suite/*

*.dat
*.xml
*.mix1
*.mix2
*.mix3
*.mix4
*.mix5
*.mix6
*.wfc1
*.wfc2
*.wfc3
*.wfc4
*.wfc5
*.wfc6

